
<div class="roll">
 <div class="container">
  <div class="col-sm-6">
   <h2><%= "需要按摩師人數#{@booking.masseur}人" %></h2>
   <h2><%= "費用#{@booking.fee}元" %></h2>
  </div>
  <div class="col-sm-6">
   <h2><%= "公司名稱#{@booking.company}" %></h2>
   <h2><%= "聯絡人#{@booking.username}" %></h2>
   <h2><%= "聯絡電話#{@booking.phone}" %></h2>
   <h2><%= "E-mail#{@booking.contact_email}" %></h2>
   <h2><%= "公司地址#{@booking.address}" %></h2>
   <h2><%= "備註#{@booking.remark}" %></h2>
  </div>
  <% if @booking.paid %>
    <h3>付款已完成<h3>
  <%else%>
    <div class="pull-left">
     <%= link_to "修改公司資料", edit_user_path(@booking.user , :booking_id => @booking), :class => "btn btn-primary" %>
    </div>
    <div class="pull-right">
     <%= link_to "確認完畢,前往付款", checkout_pay2go_booking_path(@booking, :payment_method => "Credit"), :method => :post, :class => "btn btn-danger" %>
    </div>
  <%end%>
 </div>
</div>


