<% if @booking.paid %>

  <div id="flow-chart">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag("flowchart-done.png", :class => "flow-chart") %>
        </div>
      </div>
    </div>
  </div>

  <div id="booking_done">
    <div class="container">

      <h2>完成預約</h2>

      <p>恭喜您已經順利完成預約！</br>
         我們會寄通知與相關訊息到您的信箱</br>
         iam@unbusymassage.tech</br>
         再請您收信確認囉！</br>

         您也可以隨時到<%= link_to "預約查詢", user_path(current_user) %>查看您的預約記錄喔！
      </p>

      <div class="order-log">
        <%= link_to "查詢本次預約", user_path(current_user) %>
      </div>

    </div>
  </div>

<% else %>

  <div id="flow-chart">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag("flowchart-confirmation.png", :class => "flow-chart") %>
        </div>
      </div>
    </div>
  </div>


  <div id="booking_show">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="subtitle">確認預約</h2>

          <div class="col-sm-6">
            <h3>按摩需求</h3>
              <table>
                <tr>
                  <td class="item-left">按摩日期</td>
                  <td><%= "#{@booking.date}" %></td>
                </tr>
                <tr>
                  <td class="item-left">按摩時間</td>
                  <td><%= "#{@booking.time}" %></td>
                </tr>
                <tr>
                  <td class="item-left">按摩師人數</td>
                  <td><%= "#{@booking.masseur}人" %></td>
                </tr>
                <tr>
                  <td class="item-left">費用</td>
                  <td><%= "#{@booking.fee}元" %></td>
                </tr>
                <tr>
                  <td class="item-left-total">總費用</td>
                  <td class="td-totalprice"><%= "#{@booking.fee}元"%></td>
                </tr>
            </table>
          </div>

          <div class="col-sm-6">
            <h3>公司資料</h3>
            <table>
              <tr>
                <td class="item-right">公司名稱</td>
                <td><%= "#{@booking.company}" %></td>
              </tr>
              <tr>
                <td class="item-right">聯絡人</td>
                <td><%= "#{@booking.username}" %></td>
              </tr>
              <tr>
                <td class="item-right">聯絡電話</td>
                <td><%= "#{@booking.phone}" %></td>
              </tr>
              <tr>
                <td class="item-right">E-mail</td>
                <td><%= "#{@booking.contact_email}" %></td>
              </tr>
              <tr>
                <td class="item-right">公司地址</td>
                <td><%= "#{@booking.address}" %></td>
              </tr>
              <tr>
                <td class="item-right-total">備註</td>
                <td class="td-last"><%= "#{@booking.remark}" %></td>
              </tr>
            </table>
          </div>

          <div class="booking_show-button">
            <div class="go-back">
             <%= link_to "上一步", edit_user_path(@booking.user , :booking_id => @booking) %>
            </div>

            <div class="go-forward">
             <%= link_to "確認付款", checkout_pay2go_booking_path(@booking, :payment_method => "Credit"), :method => :post %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

