<div id="booking_record">
  <div class="container">

    <h2> 預約記錄 </h2>

    <div class="success-record">
      <h3>預約成功記錄</h3>

      <table class="table table-hover">
        <thead>`
          <td>預約編號</td>
          <td>預約時間</td>
          <td>按摩師人數</td>
          <td>總費用</td>
          <td>備註</td>
        </thead>

        <tbody>
          <% current_user.bookings.each do |booking| %>
            <% if booking.paid && Date.current < booking.date %>

          <tr>
            <td class="order-number"><%= "#14ACD" %></td>
            <td><%= booking.date %> <%= booking.time %></td>
            <td class="order-masseur"><%= booking.masseur %></td>
            <td class="order-fee"><%= booking.fee %> 元</td>
            <td><%= booking.remark %></td>
          </tr>

            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="serviced-record">
      <h3>服務完成記錄</h3>

      <table class="table table-hover">
        <thead>
          <td>預約編號</td>
          <td>預約時間</td>
          <td>按摩師人數</td>
          <td>總費用</td>
          <td>備註</td>
        </thead>

        <tbody>
          <% current_user.bookings.each do |booking| %>
            <% if booking.paid && Date.current > booking.date && Time.now > booking.time %>

          <tr>
            <td class="order-number"><%= "#14ACD" %></td>
            <td><%= booking.date %> <%= booking.time %></td>
            <td class="order-masseur"><%= booking.masseur %></td>
            <td class="order-fee"><%= booking.fee %> 元</td>
            <td><%= booking.remark %></td>
          </tr>

            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>








