<!DOCTYPE html>
<html>
<head>
  <title>Unbusy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <div id="header" class="clearfix"> 
  <div class="pull-right" id="service">
    <%= link_to "服務說明", about_path %>
    <%= link_to "各方評價" %>
    <% if user_signed_in? %>
      <%= link_to "預約查詢", user_path(current_user) %>
    <% else %>
      <%= link_to "預約查詢", user_session_path(:look_bookings => true) %>
    <% end %>
    <%= link_to '預約按摩', new_booking_path, :class =>"active" %>
  </div>
 </div>


<%= yield %>

 <div id="footer">
  <div class="container" style="color:white">
   <div class="pull-left">
    <p>和我們一起支持社會，讓世界變得更好</p>
   </div>
   <div class="pull-right"> 
    <p >2016 Unbusy 不忙按摩</p>
   </div> 
  </div>
 </div>



</body>
</html>
